* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  background-color:rgb(5, 5, 19);
}

.navbar {
  height: 5rem;
  width: 100%;
  background-color: rgb(31, 31, 119);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.navbar select {
  width: 30rem;
  padding: 1rem;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-panel {
  background-color: rgb(31, 31, 119);
  width: 35%;
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.game-panel-heading {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

.game-panel-body-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.game-panel-body-bottom {
  width: 100%;
  text-align: center;
}

.game-panel-body-bottom p {
  font-size: 1.4rem;
}

.word {
  font-size: 2rem;
  margin: 2rem 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 1rem;
  margin: 1rem 0;
}

.input-container button {
  padding: 1rem;
  cursor: pointer;
}

.toggle {
  position: relative;
  bottom: 10rem;
  cursor: pointer;
}

.toggle button {
  padding: 1rem;
  border-radius: 100%;
}

.message-container {
  margin: 2rem 0;
}

.message-win {
  visibility: hidden;
}

.message-lose {
  visibility: hidden;
}